@model Kyoeis.IdentityCenter.Service.Data.CompanyEntity

@{
    ViewData["Title"] = "创建公司";
}
<form asp-action="Create">
    <h1 class="form-box-title">创建分类</h1>
    <hr />
    <div class="form-box-fixed-container">
        <div class="form-box">
            <div class="row">
                <div class="label"><span class="font-red">*</span> 公司标识</div>
                <div class="control">
                    <input asp-for="Code" isvalid="yes" checkexpession="NotNull" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="label"><span class="font-red">*</span> 公司名称</div>
                <div class="control">
                    <input asp-for="Name" isvalid="yes" checkexpession="NotNull" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="label"><span class="font-red">*</span> 地址</div>
                <div class="control">
                    <input asp-for="Address" isvalid="yes" checkexpession="NotNull" />
                </div>
            </div>
            <div class="row">
                <div class="label">备注</div>
                <div class="control">
                    <textarea asp-for="Remark"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box-fixed-foot content-right">
        <input type="submit" id="btn-submit" class="btn btn-green" value="提交" />
        <a href="javascript:;" id="btn-closeSelf" class="btn btn-red">关闭</a>
    </div>
</form>
@section scripts
{
    <script src="~/lib/validator/validator.js"></script>
    <script>
        myUI.initForm();
    </script>
}
